
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*
{
    padding: 0;
    margin: 0;
}
.heading
{
    height: 15vh;
    color: seashell;
    font-weight: bold;    
}
.heading marquee
{
    position:relative;
    top:35px;
    font-size: 40px;
    font-family: 'Indie Flower', cursive;
}
body
{
    
    background-image: url("./images/body_back.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
.upperbox
{
    width: 1200px;
    height: 1500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border:2px solid rgb(189, 181, 181);
    border-radius: 30px;
    box-shadow: 2px 2px 2px 5px rgba(24, 24, 109, 0.541);
    background-color:lightsteelblue;
    background-image:linear-gradient(to right,rgb(97, 88, 122),rgb(154, 180, 190),rgb(209, 187, 187));
}
.lowerbox
{
    width:1100px;
    height: 1400px;
    border: 2px solid rgb(189, 181, 181);
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    box-shadow: 2px 2px 2px 5px rgba(24, 24, 109, 0.541);
}
.para1 , .para2 ,.para3 , .para4
{
    display: inline-block;
    width: 500px;
    font-size: 25px;
    margin: 80px;
    border-left: 2px solid black;
    height: 80px;
    padding: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.btn1 ,.para1, .btn2 , .para2 , .btn3, .para3, .btn4 , .para4
{
    display:inline-block;
}
button
{
    display:block;
    width:200px;
    height: 200px;
    border-radius: 50%;
    margin: 34px;
    margin-top: 90px;
    box-shadow:2px 2px 5px 3px tan;
    font-size: 20px; 
    background-color: antiquewhite;  
}
button a
{
    text-decoration: none;
    color: black;
}
button:hover
{
    background-color:rgb(70, 168, 168);
    color:whitesmoke;
}
